<h3 class="clearfix title-enquete">
    Editar enquete
</h3>

<alert ng-repeat="alert in alerts" type="<%alert.type%>" close="closeAlert($index)">
    <span ng-bind-html="alert.msg | parseHtml"></span>
</alert>

<div class="row">
    <form class="col-md-6" ng-submit="submit()">
        <div class="form-group">
            <label for="nome_enquete">Nome da enquente</label>
            <input type="text" class="form-control input-sm" ng-model="enquete.nome" id="nome_enquete"
                   placeholder="Digite o nome da enquete">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-checked="enquete.ativa" ng-model="enquete.ativa"> Pública?
            </label>
        </div>
        <button type="submit" class="btn btn-sm btn-success pull-right">Salvar</button>
    </form>

    <div class="col-md-6 form_enquete">
        <label>Nome da pergunta</label>

        <div class="input-group input-group-sm">
            <input type="text" class="form-control" ng-model="pergunta.nome" placeholder="Nome da pergunta">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="addPergunta()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </span>
        </div>
        <div id="wrapper">
            <div class="repeat well" ng-repeat="pergunta in perguntas">
                <div class="input-group input-group-sm">

                    <input type="text" class="form-control" placeholder="Nome da pergunta" value="<%pergunta.nome%>">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="removePergunta($index)">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </span>
                </div>

                <div class="repeat-son" ng-repeat="resposta in pergunta.respostas">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="resposta.nome" placeholder="Nome da pergunta">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button"
                                    ng-click="removeResposta($index, $parent.$index)">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div ng-hide="pergunta.respostas.length" class="alert alert-warning sem-item" role="alert">
                    Sem respostas adicionadas
                </div>

                <div class="input-group input-group-sm repeat-son">
                    <input type="text" class="form-control" ng-model="pergunta.resposta.nome"
                           placeholder="Adicione o nome da resposta">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="addResposta($index)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="well" ng-hide="perguntas.length">
                <div class="alert alert-warning sem-item" role="alert">
                    Sem perguntas adicionadas, por favor adicione.
                </div>
            </div>
        </div>
    </div>
</div>